header {border-bottom-width: 1px; border-bottom-style: solid;}
body { background-color: aliceblue}
h1 {color: brown;
    text-align: center;}
h2 { color: blue; text-shadow: 1px 1px 5px skyblue; }
ul {border : 1px dotted ;}
a { color: blue; text-decoration: none; }
p { font-family: 휴먼편지체; font-size: 1em; text-indent: 1em; }
footer { background: orange; border-radius: 10px; }