header {border-bottom-width: 1px; border-bottom-style: solid;}
body { background-color: aliceblue; }
h1 {color: brown; text-align: center; }
form {background: #f8bbd0; }
span,p {font-family: 휴먼편지체;}
footer { background: orange; border-radius: 10px; }